@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*I first display all the items in the viewbag*@
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @for (int i = 0; i < ViewBag.Items.Count; i++)
    {
        <tr>
            <td>@ViewBag.Items[i].Name</td>
            <td>@ViewBag.Items[i].Description</td>
            <td>@ViewBag.Items[i].Quantity</td>
            <td>@ViewBag.Items[i].Price</td>
        </tr>
    }

</table>
<form action="/Home/Welcome">
    <input type="text" name="Description" />
    <input type="submit" value="Add Item" />
</form>