
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form action="/Home/Welcome">
    Enter name: <input type="text" name="input" />
    
    
    <input type="submit" value="Register Now!" />


</form>
<h1>@ViewBag.info</h1>