
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to GC Coffee @ViewBag.info</h2>
<form href="/Home/Welcome?INPUT=input" >
    <input type="text". name="input" />
    <input type="submit" value="submit" />


</form>

